<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"> <!--Tell the browser what character encoding to use when displaying the HTML page -->
        <title>Boardgames</title>

        <!-- jQuery and Bootstrap CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='tablestyle.css')}}">
        <img src="{{ url_for('static', filename='boardgames.png') }}" alt="Boardgames">

    </head>

    <body>
        <h1>Boardgames</h1>
        <div id="messageArea" class="alert" style="display: none;"></div>
        <div id="backToMainButton" style="display:none; margin-top:10px:">
            <button onclick="showViewAll()">Back to Main Page</button>
        </div>
        <div>
            <button id="showAddaboardgameButton" onclick="showAdd()">Create</button>
        </div>

        <div>
            <table class="table" id="BoardgameTable" border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Product type</th>
                    <th>Age range</th>
                    <th>Players</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="BoardgameTableBody">
            </tbody>
            </table>
            <br/>

        </div>

        <div id='showBoardgameForm' style="display:none;">
            <h2>
                <span id="createLabel">Create a</span>
                <span id="updateLabel" style="display:none;">Update</span> Boardgame
            </h2>

                <input type="hidden" name="id" id="idInput"/>
                Name: <input type="text" name="Name" id="nameInput"><br/>
                Product type: <input type="text" name="Product_type" id="productTypeInput"><br/>
                Age range: <input type="text" name="Age_range" id="ageRangeInput"><br/>
                Players: <input type="text" name="Players" id="playersInput"><br/>
                Price: <input type="number" name="Price" id="priceInput"><br/><br/>

                <span><button id="doCreateButton" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" onclick="doUpdate()" style="display:none;">Update</button></span>
                <span><button onclick="showViewAll()">Back to Main Page</button></span>
        </div>


        <div id="showDeleteBoardgameForm" style="display:none;">
            <h2>Delete Boardgame</h2>

            <input type="hidden" name="id" />
            <span>Are you sure you want to delete this boardgame?</span><br/>
            <span><button id="doDeleteButton" onclick="doDelete()">Delete</button></span>
            <span><button id="doCancelButton" onclick="doCancel()">Cancel</button></span>
        </div>

       <!-- JavaScript file  -->
        <script src="{{url_for('static', filename='boardgamescript.js')}}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {getAllBoardgames();});
        </script>
</body>

</html>
